<% include ../partials/header %>
<div class="container">
    <div class="row">

        <div class="col-sm-1">
            <a class="back btn btn-info" href="/posts"><i class="fas fa-arrow-left"></i></a>
        </div>

        <div class="col-sm-8">
            <div id="show-card" class="card bg-dark">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title"><%= post.name %></h4>
                        </div>
                    </div>
                    <div class="card-text text-muted">
                        <div class="row">
                            <div class="col">
                                <small class="post-author text-muted">Posted by <%= post.author.username %> &bull; <span><%= moment(post.createdAt).fromNow() %></span></small>
                            </div>
                        </div>
                    </div>
                    <div class="card-text"><%= post.description %></div>
                    <% include ../partials/postEditDeleteBtns %>
                </div>

                <div class="container bg-dark">
                    <hr>
                    <a class="add-comment btn btn-success" href="/posts/<%= post._id %>/comments/new">Add New Comment</a>
                    <% post.comments.forEach((comment) => { %>
                        <hr>
                        <div class="row">
                            <div id="comments" class="col-sm-12">
                                <small class="text-muted"><%= comment.author.username %> &bull; <span><%= moment(post.createdAt).fromNow() %></span></small>
                                <p><%= comment.text %></p>
                                <% include ../partials/commentEditDeleteBtns %>
                            </div>
                        </div>
                        
                    <% }) %>
                </div>

            </div>
        </div>

        <div class="col-sm-3">
            <% include ../partials/rulesSideBar %>
        </div>

    </div>
</div>
<% include ../partials/footer %>