<% include ../partials/header %>
<div class="container">
    <div class="row">

        <div class="col-sm-1">
            <a class="back btn btn-primary" href="/posts"><i class="fas fa-arrow-left"></i></a>
        </div>

        <div class="col-sm-8">
            <div id="show-card" class="card bg-dark">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title"><%= post.title %></h4>
                        </div>
                    </div>
                    <div class="card-text text-muted">
                        <div class="row">
                            <div class="col">
                                <small class="post-author text-muted">Posted by <span class="text-info"><%= post.author.username %></span> &bull; <%= moment(post.createdAt).fromNow() %></small>
                            </div>
                        </div>
                    </div>
                    <div class="card-text"><%= post.description %></div>
                    <div class="container">
                        <div class="row">
                            <% if (currentUser && post.author.id.equals(currentUser._id)) { %>
                                <% include ../partials/postEditDeleteBtns %>
                            <% } %>
                        </div>
                    </div>
                </div>

                <div class="container bg-dark">
                    <hr class="page-break">
                    <a id="add-comment-form" class="btn btn-primary" href="/posts/<%= post._id %>/comments/new">Add New Comment</a>
                    <% post.comments.forEach((comment) => { %>
                        <hr class="page-break">
                            <small class="text-info"><%= comment.author.username %> <span class="text-muted">&bull; <%= moment(post.createdAt).fromNow() %></span></small>
                            <p><%= comment.text %></p>
                            <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                                <% include ../partials/commentEditDeleteBtns %>
                            <% } %>
                    <% }) %>
                </div>

            </div>
        </div>

        <div class="col-sm-3">
            <% include ../partials/rulesSideBar %>
        </div>

    </div>
</div>
<% include ../partials/footer %>